
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:Montserrat;
}
:root{
    --header-color:#379777;
    --body-color:#F5F7F8;
}
#header-svg{
    height: 3rem;
    margin: .5rem 2.7rem 0;

}
#library-text{
    margin: 0 1.8rem 1rem;
}
.left-header{
    margin-left: 4rem;
}
.right-header{
    display: flex;
    gap: 2rem;
    margin-top: 2.5rem;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    height: 100px;
    width: 100%;
    background-color:var(--header-color);
    display: flex;
    gap: 43rem;
}    
footer{
    height: 50px;
    background-color: yellow;
}
.body-content{
    min-height: 73vh;
    flex: 1;
    background-color: var(--body-color);
}

.add{
    background-color: #88dcc0;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    text-align: center;
    border: none;
    transition: 0.3s;
}
.add:hover{
    transform: scale(1.05);
}
.remove{
    background-color: lightcoral;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    text-align: center;
    border: none;
    transition: 0.3s;
}
.remove:hover{
    transform: scale(1.07);
}
#book-svg , #delete-svg{
    height: 2rem;
    margin-top: 8px;

    
}
#book-svg{
    fill:rgb(0, 82, 0);
}
#delete-svg{
    fill: rgb(167, 0, 0);
}
.add-remove{
    position: fixed;
    bottom: 7rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer{
    height: 40px;
    width: 100%;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.card{
    height: 300px;
    width: 300px;
    box-shadow: 1px 1px 20px grey;
    margin: 1rem 1.5rem 1rem;
    padding: 1rem;
    border-radius: 10px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
#form{
    height: 380px;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:var(--header-color);
    margin: 2rem auto 1rem;
    border-radius: 10px;
    padding: 1.5rem 1rem 0;
    display: none;
    position: fixed;
    left: 10rem;
    right: 10rem;
    top: 5rem;
    bottom: 10rem;
    box-shadow: 1px 1px 20px grey;

}
input , select {
    line-height: 2rem;
    width: 260px;
    margin: 0.5rem;
    padding: .5rem;
    border-radius: 10px;
    border: none;

}
#Description{
    overflow: scroll;
}
#Select {
    height: 2rem;
    width: 275px;
}
#add-btn , #cancel-btn {
    width: 100px;
    line-height: 2rem;
    margin: 0.5rem;
    padding: .5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
#add-btn{
    background-color:#88dcc0 ;
}
#cancel-btn{
    background-color: lightcoral;
}
#add-btn:hover , #cancel-btn:hover{
    transform: scale(1.05);
}

option{
    font-size: 1.2rem;
}
.title{
    color: red;
}
.des{
    padding: 1rem 0 1rem;
    height: 8rem;
    overflow:auto;
}
.text{
    padding:0 1rem 1rem;
    height: 250pxf ;

}
#sel-text{
    background-color: #ffed93;
}
#rem-text{
    background-color: lightcoral;
    margin-right:1rem ;
}
#sel-text , #rem-text{
    margin-top: 10px;
    font-size:1rem ;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
#pages{
    margin-top: 10px;
}
#rem-text:hover{
    transform: scale(1.05);
}

